.something {
  margin-top: 50px;
}

.chats {
    margin-top: 50px;
}

.chat {
    margin: 20px;
    height: 30px;
    border-bottom: 1px solid #efefef;
}

.time {
    color: #ccc;
}

.username {
    font-weight: bold;
}

.text {
    font-size: 18px;
}

.boxness {
  color: #fff;
  font-weight: 200;
  display: inline-block;
  height: 40px;
  background-color: #337ab7;
  padding: 0 7px;
  margin-left: 5px;
  border-radius: 5px;
  border-bottom-left-radius: 0px;

}

.chatter {
  color: #444;
}